

#programTitleLabel {
   -fx-font: bold italic 36pt "Helvetica Neue";
   -fx-font-color: white;
}
   
#myNameLabel {     
   -fx-font: bold 20pt "Helvetica Neue";
   -fx-font-color: white;   
}

#loadingLabel  {
   -fx-font: bold 12pt "Helvetica Neue";
   -fx-font-color:white;
}