

#programTitleLabel {
   -fx-font: bold italic 36pt Arial;
   -fx-font-color: white;
}
   
#myNameLabel {     
   -fx-font: 24pt Arial;
   -fx-font-color: white;   
}

#loadingLabel  {
   -fx-font: 14pt Arial;
   -fx-font-color:white;
}