/*
To change this license header, choose License Headers in 
Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2017, 7:08:18 PM
    Author     : home
*/

// only one line is visible (model)
.default-color0.chart-series-line { -fx-stroke: transparent }
.default-color1.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke-width: 2; }



// only one set of symbols is visisble (exp data))
.default-color0.chart-line-symbol { 
   -fx-background-color: transparent, black; 
}
.default-color1.chart-line-symbol { 
   -fx-background-color: transparent, transparent; 
}

// works
.chart {
   -fx-horizontal-grid-lines-visible: false;
   -fx-vertical-grid-lines-visible: false;
   -fx-legend-visible: false;  
}


// changes size of chart title, does work
.chart-title {
   -fx-font: 12pt sans-serif;
}

.axis {
   -fx-tick-label-font: 12pt sans-serif;
   -fx-tick-label-fill: black;
   -fx-minor-tick-visible: false;
   -fx-tick-label-gap: 4; // distance betwen tick and number
   -fx-fill: black;
}

.axis-label {
   -fx-font: 12pt sans-serif;
}

.axis-tick-mark {
   //-fx-stroke: black;
   -fx-stroke-width: 1pt;
}

// this is not the correct way to put in axes.
/*.chart-horizontal-zero-line, .chart-vertical-zero-line {
   -fx-stroke: black;
   -fx-stroke-width: 0pt;

}*/ 

.XYChart {
   -fx-background-color: transparent;
   -fx-background-fills: transparent;
}



 
